- @page_title = "Sign up - User Account"
%p Now you need to enter your login and user account details. You can add more users once your account has been created. Complete the details below and hit "Next".