ul.side-nav{
	padding:5px 0;
	li{
		border-bottom: 1px solid #ccc;
		background:#efefef;
		margin-bottom:1px;
		padding:5px;
	}
	li:last-child{
		border-bottom: none;
	}
	li.active{
		background:#777;
		color:#fff;
	}
}

div.field_with_errors{
	input{
		border-color:#C60F13;
	}
}

.actions {
	border-top: 1px solid #333;
	margin-top: 5px;
	padding-top: 15px;
}

.row{
	.columns{
		.panel{
			height:225px;
			position:relative;
			.bottom{
				position:absolute;
				bottom:10px;
				right:10px;
			}
		}
	}
}

.clear {
  clear: both;
  visibility: hidden
}